.guestLayoutBody {
    background-image: url('assets/media/auth/bg4.jpg');
}

[data-theme="dark"] .guestLayoutBody {
    background-image: url('assets/media/auth/bg4.jpg');
}
.guestLayoutBody #app{
    height: 100%;
    display: flex;
}